.active {
    background-color:#ffe0b2;
    font-weight: 700;
    /* margin:0 3 0 3; */
    color: #323232;
    &:hover {
        background-color: "#ffe0b2";
        font-weight: 700;
        color: "#f39c12";
    }
}
.in-active {
    background-color: inherit;
    font-weight: 400;
    /* margin:0 3 0 3; */
    color: #6c757d;
    &:hover {
        background-color: "#ffe0b2";
        color: "#f39c12";
    }
}